page-home {

}
    
ion-content > .fixed-content{
     background: rgb(255, 255, 255);
}

.card-background-page {
    
      ion-card {
        width: 90%;
        height: 200px;
        position: relative;
        text-align: center;
        border-radius: 5px;
      }


      .popup {
        opacity: 0.9;
      }
      

      .imagens{
        width: 150%;
        height: 120%;
        opacity: 0.8;
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }
    
    }
