page-home {

}
    

.cardEstab{
    background: rgb(240, 237, 237);
    border-radius: 10px;
}

h1,h2, h3{

    color: rgb(5, 5, 5);
   font-family: "Roboto";
}

ion-searchbar{
    color: #f8006c;
}

.topCard{
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.cabecalho{
    background: rgb(255, 255, 255);
}
