<ion-header>
  <ion-navbar>
    <ion-title>Restaurante Don joão</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">

  <h1 style="text-align: center">Cardápio</h1>

  <div *ngFor="let tipo of tipos">

    <h2 style="padding-left: 10px; color: white !important">{{tipo.nome}}</h2>
    <hr >
    <ion-card *ngFor="let item of tipo.itens">

      <ion-card-content >
        <ion-item (click) = "goDetalhes(item.cod)">
          <ion-avatar item-start>
            <img [src]="item.img" style="width: 80px; height: 80px">
          </ion-avatar>


          <h3>{{item.cod}} - {{item.nome}}</h3>
          <p>{{item.sub}}</p>

          <h2 style="color: grey;">R$: {{item.preco}}</h2>

        </ion-item>
      </ion-card-content>

    </ion-card>
  </div>



</ion-content>